.solveTable{
    margin: 15px auto auto;
    border: 4px double black;
    border-collapse: collapse;
    border-spacing: 7px 11px;
    width: 750px;
    text-align: center;

}

.solveTable tbody tr:nth-child(odd) {
    background: #edcfbb;
}


.solveTable tbody tr:nth-child(even) {
    background: #a5d4e8;
}

.solveTable > * > tr > td {
    padding: 2px;
    border: 1px double black;
}

/*.solveTable th {
    padding: 2px; !* Поля вокруг содержимого ячеек *!
    border: 1px solid black; !* Граница вокруг ячеек *!
}*/

.solveBody {

    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
    font-size: 30px; /* Размер шрифта в процентах */
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);

}



.inputForm > input[type=text] {
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
    font-size: 30px;
    border-color: gray;
    background-color: transparent;
}

.inputForm > input[type=button]{
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */
    font-size: 30px;
    background-color: transparent;
    border-color: gray;
    color: black;
    margin: 4px 2px;
    cursor: pointer;
}
